#gtco-form label{
	display: block;
	margin: 5px 0;
}

#gtco-tbl table{
		border: 2px solid black;
		size: 400px;
	}
	.tbl table tr{
		border: 2px solid black;
	}
	.tbl table tr td{
		border: 2px solid black;
	}
	.tbl table tr th{
		color: 
		border: 2px solid black;
	}

/*@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	background: url(img/CAR.jpg) no-repeat center center fixed;
	background-size: cover;	
}*/


/*.main-section{
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}


.modal-content{
	background-color: #a3b4c2;
	opacity: .95;
	padding: 0 18px;
	box-shadow: 0px 0px 3px #848484;
}*/


/*.user-img{
	margin-top: -80px;
	margin-bottom: 35px;
}

.user-img img{
	background-color: white;
	height: 140px;
	width: 160px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #848484;
}
*/
.form-group{
	margin-bottom: 25px; 
}
.form-group input{
	height: 42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
	padding-left: 54px;
}
.form-group::before{
	font-family: 'Font Awesome\ 5 Free';
	content: "\f007";
	position: absolute;
	font-size: 22px;
	color: #555e60;
	left: 28px;
	padding-top: 4px; 
}
.form-group:last-of-type::before{
	content: "\f023";
}
button{
	width:40%;
	margin: 5px 0 25px;
}
.btn{
	background-color: #27c2a5;
	color: #ff0000;
	font-size: 19px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
}
.btn:hover, .btn:focus{
	background-color: #25a890!important;
	border-bottom: 4px solid #25a890!important;
}
.svg-inline--fa{
	font-size: 20px;
	margin-right: 7px;
}
.forgot{
	padding: 5px 0 25px;
}
.forgot a{
	color: #c2fbfe;
}

.btn2{
 	width: 100%;
	color: #fff;
	font-size: 16px;
	padding: 7px 14px;
	border-radius: 5px;
	border-bottom: 4px solid #219882;
}
.btn2:hover, .btn2:focus{
	background-color: #959595!important;
	text-decoration-color: white;
	 color: white!important;
	/*border-bottom: 4px solid #25a890!important*/;
}